/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$gray: #454545;
$black: #000;
$blue: #8AA3D1;
$teal: #8AC6D1;
$dteal: #293C40;
$green: #A0E2C1;
$dgreen: #213129;
$yellow: #F5CA6A;
$dyellow: #483A1C;
$orange: #F9B475;
$dorange: #513823;
$pink: #FFA4A8;
$dpink: #472C2D;



