/* =============
    Color
============= */
#color {

    display: grid;
    grid-template-areas: ". material .";
    grid-template-columns: 7.5% auto 7.5%;

    
    >div {

        ul {

            #colorpic {
                grid-area: colortitle;
            }

            #colortext {
                grid-area: colortext;
            }

            #colortable {
                grid-area: colortable;
            }

            

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "colorpic colorpic colortext colortext"
                ". colortable colortable .";
        }


    }
}