/* =============
    Intro
============= */
#intro {
    display: grid;
    grid-template-areas: ". intro .";
    grid-template-columns: 7.5% auto 7.5%;
    text-align: center;

    >div{
        grid-area: intro;
    }
}