/* =============
    Material
============= */
#material {

    display: grid;
    grid-template-areas: ". material .";
    grid-template-columns: 7.5% auto 7.5%;

    
    >div {

        grid-area: material;

        p {
            text-align: center;
            color: $gray;
            font-size: rem-calc(9);
            font-weight: 400;
            padding: 10px 0px 0px;


            @include md {
                font-size: rem-calc(20);
                padding: 20px 0px 0px;
            }

            @include lg {
                font-size: rem-calc(25);
                padding: 25px 0px 0px;
            }

            @include xl {
                padding: 35px 0px 0px;
            }
        }

        h2 {
            text-align: center;
            background-color: $orange;
            color: $dorange;
            font-size: rem-calc(16);
            font-weight: 700;
            padding: 8px 8px;
            
            
            @include md{
                font-size: rem-calc(40);
                padding: 16px 16px;
            
            }
            @include lg{
                font-size: rem-calc(60);
                padding: 32px 32px;
            }
        }

        img{
            width: 100%;
        }

        ul {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                ". materialintro materialintro ."
                "whites blues reds yellows"
                "purples turquoises blue-greens pinks";
            gap: 12px;

                        

            @include md {
                gap: 25px;
            }

            @include lg {
                gap: 35px;
            }

            @include xl {
                gap: 41px;
            }

            li{
                border: 1px soild red;
            }

            #materialintro {
                grid-area: materialintro;
            }

            #whites {
                grid-area: whites;
              
            }

            #blues {
                grid-area: blues;
            }

            #reds {
                grid-area: reds;
            }

            #yellows {
                grid-area: yellows;
            }

            #purples {
                grid-area: purples;
            }

            #turquoises {
                grid-area: turquoises;
            }

            #blue-greens {
                grid-area: blue-greens;
            }

            #pinks {
                grid-area: pinks;
            }


        }
    }
}