/* =============
    Header
============= */
header {
    background-color: $blue;
    color: $white;
    padding: 16px 0px;
    font-size: rem-calc(25);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

     >div {
        display: grid;
        grid-template-areas: 
        "logo burger"
        "nav nav";
        grid-template-columns: 20% auto;
        grid-area: header;
        // border: 1px solid red;

        // @include lg {
        //     grid-template-areas: "logo nav";
        //     grid-template-columns: 20% auto;
        // }

        // @include xl{
        //     grid-area: header;
        // }

        #logo-container {
            grid-area: logo;
            padding: 10px;
            // border: 1px solid green;

           a:link, a:visited {
                transition: 0.25s;

                &:hover {
                }
            }

            
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            // @include lg {
            //     display: none !important;
            // }

            i {
                margin-left: auto;
                cursor: pointer;
                font-size: rem-calc(30);
                color: $white;
            }
        }

        #nav-container {
            // border: 1px solid blue;
            background-color: $blue;
            display: none;
            grid-area: nav;
            padding: 20px 10px 10px;
            // height: 100vh;

            // display: flex;
            // justify-content: center;
            // align-items: center;


            // @include lg {
            //     background-color: $blue;
            //     display: block !important;
            // }
        }
    }

    // div{
    //     display: flex;
    // }


    // #logo{
    //     display: flex;
    //     align-items: center;
    //     margin-right: auto;
    //     margin: auto auto auto 7.5%;
    
    // }

    // #hamburger{
    //     display: flex;
    //     align-items: center;
    //     margin-left: auto;
    //     margin: auto 7.5% auto auto;
    
    // }
}